{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<nav class="navbar navbar-default">
  <div class="nav-container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ link-to 'Dashboard' 'dashboard' class="nav-link" }}
      {{ link-to 'Map' 'map' class="nav-link" }}
      {{ link-to 'Social' 'social' class="nav-link" }}
      {{ link-to 'Charts' 'charts' class="nav-link" }}
      {{ link-to 'Profile' 'profile' class="nav-link" }}
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>{{ link-to 'Sign-in' 'login' class="nav-link" }}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
<!--
<footer class="footer-container">
   <div class="footer-column">
      <p>About</p>
      <p>Careers</p>
      <p>Contact</p>
   </div>
   <div class="footer-column">
      <p>Data Tracking Details for Vegetable Gardens</p>
      <p>Data Tracking Details for Bees</p>
      <p>Data Tracking Details for Trees</p>
      <p>Data Tracking Details for Chickens</p>
   </div>
   <div class="footer-column">
      <p>Data Tracking Details for Vegetable Gardens</p>
      <p>Data Tracking Details for Bees</p>
      <p>Data Tracking Details for Trees</p>
      <p>Data Tracking Details for Chickens</p>
   </div>
</footer>
-->

