{{outlet}}
<div class="form-page-container">
   <h1 class="form-title">Edit Polygon:</h1>

   <form class="form-container" {{action "submitChangedPolygon" model.id on="submit"}}>
     
      <div>
         <label>Change the name of your polygon:</label>
         <p>{{input class="input-element" value=name placeholder=model.name type="text"}}</p>
      </div>

      <div>
         <label>Select a new start date for this polygon:</label>
         <p>{{input class="input-element" type="date" value=model.startDate}}</p>   
      </div>
       
      <div>
         <label>Select a new end-date for this polygon:</label>
         <p>{{input class="input-element" type="date" value=model.endDate}}</p>
      </div>

      <button class="form-button" type="submit">Submit</button>
   </form>
</div>

