RLand map page
<div class="map-components">
  {{rland-map location=model.address polygonSelected=(action "polygonSelected")}}
  <div class="polygon-container">
    <div class="new-poly" style="display:none;">
      <form {{action "createPolygon" on="submit"}}>

        <label>Please enter the name of the polygon</label>
        <p>{{input value=name type="text"}}</p>

        <label>Select start date (default is today)</label>
        {{md-input type="date" value=startDate}}

        <label>Select end date (this is the date you will harvest/move this polygon</label>
        {{md-input type="date" value=endDate}}

        <label>Polygon Type:</label>
        {{#power-select
          options=levelOne
          selected=selectedOptionOne
          onchange=(action "updateLevelTwo")
        as |level1|
        }}
          {{level1}}
        {{/power-select}}
        <br>

	{{#if showLevelTwo}}
        {{#power-select
          options=levelTwo
          selected=selectedOptionTwo
          onchange=(action "updateLevelThree")
        as |level2|
        }}
          {{level2}}
        {{/power-select}}
	{{/if}}
        <br>

	{{#if showLevelThree}}
        {{#power-select
          options=levelThree
          selected=selectedOptionThree
          onchange=(action "updateLevelFour")
        as |level3|
        }}
          {{level3}}
        {{/power-select}}
	{{/if}}

        <br>
	{{#if showLevelFour}}
        {{#power-select
          options=levelFour
          selected=selectedOptionFour
          onchange=(action "updateLevelFive")
        as |level4|
        }}
          {{level4}}
        {{/power-select}}
	{{/if}}

        <br>
	{{#if showLevelFive}}
        {{#power-select
          options=levelFive
          selected=selectedOptionFive
          onchange=(action "setLevelFiveSelection")
        as |level5|
        }}
          {{level5}}
        {{/power-select}}
	{{/if}}
        <br>
        {{md-btn-submit text="Submit"}}
      </form>
    </div>
    <div class="poly-list">
      <h1>Your polygons</h1>
      {{#each model.polygons as |polygon|}}
        <div class="row">
          {{#polygon-list item=polygon}}
        <div>
           {{#link-to "polygon-info" polygon.id class="poly-list-link"}}
              Info
           {{/link-to}}
           {{#link-to "new-task" polygon.id class="poly-list-link"}}
              {{fa-icon "plus-circle"}}
              Task
           {{/link-to}}
           {{#link-to "new-harvest" polygon.id class="poly-list-link"}}
              {{fa-icon "plus-circle"}}
              Harvest
           {{/link-to}}
           {{#link-to "edit-polygon" polygon.id class="poly-list-link"}}
              Edit
           {{/link-to}}
           <button {{action "deletePolygon" polygon}} class="poly-list-delete-icon">{{fa-icon "trash"}}</button>
        </div>
      {{/polygon-list}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
