<div class="map-components">
  {{rland-map location=model.address polygonSelected=(action "polygonSelected")}}
  <div class="polygon-container">
    <div class="new-poly" style="display:none;">
      <form {{action "createPolygon" on="submit"}}>
        <label>Please enter a location of your polygon</label>
        <p>{{input value=location type="text"}}</p>

        <label>Please enter the name of the polygon</label>
        <p>{{input value=name type="text"}}</p>

        <label>Select start date (default is today)</label>
        {{md-input type="date" value=startDate}}

        <label>Select end date (this is the date you will harvest/move this polygon</label>
        {{md-input type="date" value=endDate}}

        <label>Select what this polygon contains:</label>
        {{#power-select
          options=levelOne
          selected=selectedOptionOne
          onchange=(action "updateLevelTwo")
        as |level1|
        }}
          {{level1}}
        {{/power-select}}

	{{#if showLevelTwo}}
        <br>
        {{#power-select
          options=levelTwo
          selected=selectedOptionTwo
          onchange=(action "updateLevelThree")
        as |level2|
        }}
          {{level2}}
        {{/power-select}}
	{{/if}}

	{{#if showLevelThree}}
        <br>
        {{#power-select
          options=levelThree
          selected=selectedOptionThree
          onchange=(action "updateLevelFour")
        as |level3|
        }}
          {{level3}}
        {{/power-select}}
	{{/if}}

	{{#if showLevelFour}}
        <br>
        {{#power-select
          options=levelFour
          selected=selectedOptionFour
          onchange=(action "updateLevelFive")
        as |level4|
        }}
          {{level4}}
        {{/power-select}}
	{{/if}}

	{{#if showLevelFive}}
        <br>
        {{#power-select
          options=levelFive
          selected=selectedOptionFive
          onchange=(action "setLevelFiveSelection")
        as |level5|
        }}
          {{level5}}
        {{/power-select}}
	{{/if}}
        <br>
        {{md-btn-submit text="Submit"}}
      </form>
    </div>
    <div class="poly-list">
      {{#each model.polygons as |polygon|}}
        <div class="row">
          {{#polygon-list item=polygon}}
        <div>
           {{#link-to "notes" polygon.id}}Your notes{{/link-to}}
           {{#link-to "harvests" polygon.id}}Your harvests{{/link-to}}
           {{#link-to "tasks" polygon.id}}Your tasks{{/link-to}}
           <div>
                        {{#link-to "polygon-info" polygon.id}}More info{{/link-to}}
           </div>
           <div>
                        {{#link-to "new-task" polygon.id}}Add a Task{{/link-to}}
           </div>
           <div>
              {{#link-to "new-harvest" polygon.id}}Add a Harvest{{/link-to}}
           </div>
           <div>
              {{#link-to "new-note" polygon.id}}Add Note{{/link-to}}
           </div>
        </div>
        <div>
           <div>
                  {{#link-to "edit-polygon" polygon.id}}Edit{{/link-to}}
                          </div>
           <button {{action "deletePolygon" polygon}}>Delete</button>
        </div>
      {{/polygon-list}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}
