{{outlet}}
<div class="form-page-container">
   <h1 class="form-title">New note for polygon: {{ model.name }}</h1>
   <form class="form-container" {{action "newNote" on="submit"}}>
      <div>
         <label>Title:</label>
         <p>{{input class="input-element" value=title type="text"}}</p>
      </div>

      <div>
         <label>Content:</label>
         <p>{{textarea class="input-element" value=notecontent}}</p>
      </div>
   
      <button type="submit">Submit</button>
   </form>
</div>
