{{outlet}}
<div class="form-page-container">
   <h1 class="form-page-title">Add a new harvest for polygon: {{ model.name }}</h1>

   <form class="form-container" {{action "newHarvest" on="submit"}}>

      <div>
         <label>Harvest date:</label>
	 <p>{{input class="input-element" value=date type="date"}}</p>
      </div>

      <div>
         <label>Amount:</label>
         <p>{{input class="input-element" value=amount type="number"}}</p>
      </div>

      <div>
         <label>Units: (lbs, count, quarts, etc)</label>
         <p>{{input class="input-element" value=units type="text"}}</p>
      </div>

      <button class="form-button" type="submit">Submit</button>
   </form>
</div>
