{{outlet}}
<h1>New note for polygon: {{ model.name }}</h1>

<form {{action "newNote" on="submit"}}>
   <label>Title:</label>
   <p>{{input value=title type="text"}}</p>

   <label>Content:</label>
   <p>{{input value=notecontent type="textarea"}}</p>

   {{md-btn-submit text="Submit"}}
</form>
