{{outlet}}
<div class="form-page-container">
   <h1 class="form-page-title">Add a new harvest for polygon: {{ model.name }}</h1>

   <form class="form-container" {{action "newHarvest" on="submit"}}>
      <div>
         <label>What are you harvesting?</label>
         <p>{{input class="input-element" value=units type="text"}}</p>
      </div>
      
      <div>
         <label>Amount:</label>
         <p>{{input class="input-element" value=amount type="number"}}</p>
      </div>

      <button class="form-button" type="submit">Submit</button>
   </form>
</div>
