{{outlet}}
<h1>Polygons in DB</h1>
<div class="poly-list">
   {{#each model.polygons as |polygon|}}
     <div class="row">
       {{#polygon-list item=polygon}}
     <div>
        {{#link-to "polygon-info" polygon.id class="poly-list-link"}}
           Info
        {{/link-to}}
        {{#link-to "new-task" polygon.id class="poly-list-link"}}
           {{fa-icon "plus"}}
           Task
        {{/link-to}}
        {{#link-to "new-harvest" polygon.id class="poly-list-link"}}
           {{fa-icon "plus"}}
           Harvest
        {{/link-to}}
        {{#link-to "edit-polygon" polygon.id class="poly-list-link"}}
           Edit
        {{/link-to}}
        <button {{action "deletePolygon" polygon}} class="poly-list-delete-icon">{{fa-icon "trash"}}</button>
     </div>
   {{/polygon-list}}
      </div>
  {{/each}}
 </div>


