{{outlet}}
<div class="polyInfoContainer">
<div class="polyInfoTitle">
   <h1>{{ model.polygon.name }} Info</h1>
   <label>{{ model.polygon.polyType }}</label>
</div>
<div class="polyInfoHeader">
   <div class="polyInfoLinks">
      <h3>Quick Links:</h3>
      <p>End Date: {{model.polygon.endDate}}</p>
   </div>
   <div class="polyInfoNotes">
      <h2>Notes:</h2>
      <div class="polyInfoNotesList">
         {{#each model.notes as |note|}}
            <div class="noteItem">
               <div class="noteHeader">
               <h5><strong>{{ note.title }}</strong></h5>
               <button {{action "deleteNote" note}} class="deleteButton">
                  {{fa-icon "trash" class="trashIcon"}}
               </button>
             </div>
             <p>{{ note.content }}</p>
           </div>
         {{/each}}
      </div>
   </div>
</div>
<hr>
<h1>Tasks for this polygon:</h1>
<div>
   {{#each model.tasks as |task|}}
      <div class='taskItem {{tasks task.priority}}'>
         <h4>{{ task.name }}</h4>
         {{#link-to "task" task.id class="btn btn-outline-light"}}More Info{{/link-to}} 
         <button class="btn btn-outline-light" {{action "deleteTask" task}}>Delete</button>
      </div>
{{/each}}

</div>
</div>
