{{outlet}}
<h1>Polygon Info</h1>
<div>
   <h3>Name: {{model.name}}</h3>
   <h3>Location: {{model.location}}</h3>
   <h3>Id: {{model.id}}</h3>
   <h3>Start Date: {{model.startDate}}</h3>
   <h3>End Date: {{model.endDate}}</h3>
   <h3>Polygon Type: {{model.polyType}}</h3>
</div>
<hr>
<h1>Tasks for this polygon:</h1>
<div>
   <p>Coming soon</p>
</div>
   
