{{outlet}}
<div class="container">
  <div class="row">
    <div class="panel-body">
      <form id="register" class="form-horizontal" style="display:block;" {{action "register" on="submit"}}>
        <div class="row">
          <div id="errors" class="alert alert-warning" style="display:none;"></div>

	  <h2>Profile</h2>
          <div>
             <label>Your Name</label><br>
             {{input value=name class="col s12"}}
          </div>

          <div>
             <label>Email</label><br>
             {{input value=email class="col s12" validate=True}}
          </div>

          <div>
             <label>Password</label><br>
             {{input value=password type="password" class="col s12"}}
          </div>

	  <h2>Address</h2>
          <div>
             <label>Street</label><br>
             {{input value=street class="col s12"}}
          </div>

          <div>
             <label>City</label><br>
             {{input value=city class="col s12"}}
          </div>

          <div>
             <label>State</label><br>
             {{input value=state class="col s12"}}
          </div>

          <div>
             <label>Zipcode</label><br>
             {{input value=zip class="col s12"}}
          </div>

          <button type="submit">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>
