{{outlet}}
<div class="form-page-container">
      <h2 class="form-title">Sign-up</h2>
      <form id="register" class="form-container" {{action "register" on="submit"}}>
          <div id="errors" class="alert alert-warning" style="display:none;"></div>

	  <h3 class="form-title">Profile</h3>
          <div>
             <label>Your Name</label><br>
             {{input value=name class="input-element"}}
          </div>

          <div>
             <label>Email</label><br>
             {{input value=email class="input-element" validate=True}}
          </div>

          <div>
             <label>Password</label><br>
             {{input value=password type="password" class="input-element"}}
          </div>

	  <h2 class="form-title">Your Address</h2>
          <div>
             <label>Street</label><br>
             {{input value=street class="input-element"}}
          </div>

          <div>
             <label>City</label><br>
             {{input value=city class="input-element"}}
          </div>

          <div>
             <label>State</label><br>
             {{input value=state class="input-element"}}
          </div>

          <div>
             <label>Zipcode</label><br>
             {{input value=zip class="input-element"}}
          </div>

          <button class="form-button" type="submit">Create Account</button>
      </form>
</div>
