{{outlet}}
<md-content class="md-padding">
      <form id="register" style="display:block;" {{action "register" on="submit"}}>
        <div layout layout-sm="column">
          <div id="errors" class="alert alert-warning" style="display:none;"></div>
          {{input value=name class="form-input" label="Your Name" }}
          {{input value=email class="form-input" label="Email" validate=True}}
          {{input value=password class="form-input" type="password" label="Password"}}
          {{input value=address class="form-input" label="Address"}}
          {{md-btn-submit text='Create Account' type="submit" action=register}}
        </div>
      </form>
</md-content>
