{{outlet}}
<div class="view-one-container">
   <h1>{{ model.name }}</h1>
   <div class="view-one-description">
      <div>
         <label>Description</label>
         <p>{{ model.description }}</p>
      </div>
      <div>
         <label>Due Date:</label>
         <p>{{#if model.dueDate}} {{ model.dueDate }} {{else}} No due date {{/if}}</p>
      </div>
      <div>
         <label>{{#if model.completed}} Complete {{else}} Not Complete {{/if}}</label>
      </div>
   </div>
   <button class="form-button" {{action 'deleteTask' model}}>Delete</button>
</div>
