<div class="row" style="border: solid thin; text-align: center; padding: 10px">
  {{md-input value=current_pw type="password" label="Enter Current Password" class="col s12" validate=True}}
  {{md-input value=password type="password" label="Enter New Password" class="col s12" validate=True}}
  {{md-btn-submit text='Change Password!'}}
</div>
<div class="row" style="border: solid thin; text-align: center; padding: 10px">
  <div class="row">
    Current Address: 1234 Easy St. Peace City, NJ 29292
  </div>
  {{md-input value=street label="New Street" class="col s12"}}
  {{md-input value=city label="New City" class="col s12"}}
  {{md-input value=state label="New State" class="col s12"}}
  {{md-input value=zip label="New Zipcode" class="col s12"}}
  {{md-btn-submit text='Update Address'}}
</div>
{{yield}}